*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    
    background-color: rgb(133, 184, 184);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    /* margin-right: 50px; */
}

main{
    background-color: rgb(255, 228, 194);
    padding: 30px;
    box-shadow: 10px 20px 20px grey;
    border-radius: 8px;
}

main h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form1{
    border-collapse: collapse;
    margin: 30px auto;
    text-align: center;
}

input{
    margin-bottom: 20px;
}

.bottom_submit{
    box-shadow: 3px 3px 10px grey;
    border: 1px;
    border-style: solid;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(146, 234, 213, 0.877);
}

.bottom_submit:hover{
    box-shadow: 2px 2px 6px grey;
    border: 1px;
    border-style: solid;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(86, 248, 210, 0.877);
}

.bottom_login{
    
}